/* Write your code here. */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f172a;
  height: 100vh;
  background-size: cover;
}
.heading {
  font-family: "Roboto";
  color: #f8fafc;
  font-size: 42px;
}
.image {
  height: 200px;
  width: 200px;
}
